.email-class{
    display: grid;
    grid-template-columns: 230px 70px;
    grid-template-rows: repeat(2,auto);
}

.email-class div{
    grid-column:1/3;
    grid-row: 1/2;
}

.email-class input{
    width: 220px;
    grid-column:1/2;
    grid-row: 2/3;
}

.email-class button{
    width: 70px;
    grid-column:2/3;
    grid-row: 2/3;
}

#confirmare-email{
    width: 300px;
    box-shadow: 0px 0px 3px gray;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#cod-email{
    width: 180px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    letter-spacing: 0.5em; 
    font-size: 18px;
    text-align: center;
}

.cod-label{
    width: 100%;
}

.cod-label div{
    text-align: center;
}



h2{
    text-align: center;
}
