@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e7e6e6;
}


.container-content{
    position: absolute;
    top: 60px;
    padding: 20px;
    display: grid;
    width: calc(100% - 40px);
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 20px;
    grid-template-rows: repeat(auto-fit,auto);
}

.meniu-linkuri{
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    width: 400px;
    border-radius: 3px;
    background-color: white;
}

.cap-meniu{
    background-color: #373433;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 80px;
    display: grid;
    grid-template-columns: 80px auto;
}

.linkuri-dash{
    padding: 20px;
}

h3{
    font-size: 18px;
}

.linkuri-dash a{
    display: inline-block!important;
    font-size: 18px;
    color: #3665a3;
    text-decoration: none;
}

.linkuri-dash a:hover{
    text-decoration: underline;
}

.linkuri-dash a:not(:last-child){
    margin-bottom: 20px;
}

.linkuri-dash a:hover{
    background-color: transparent;
}

.linkuri-dash a::selection{
    background-color: transparent;
}

.cap-meniu h3{
    color: white;
    line-height: 80px;
    margin: 0px!important;
    padding-left: 10px;
}

.icon-intrunire{
    border-top-left-radius: 3px;
    background-color: #4c4948;
}

.icon-intrunire span{
    position: relative;
    color: white;
    font-size: 30px;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
