#fisa-raport{
    background-color: white;
    position: relative;
    width: calc(100% - 20px);
    height: 920px;
    padding: 10px;
    overflow: auto;
    display: grid;
    grid-template-rows: 75px 775px 50px;
    grid-gap: 10px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#cotnainer-raport{
    position: relative;
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 40% 60%;
}

#sectiune-date{
    grid-row: 1/3;
    grid-column: 1/2;
}

#sectiune-documente{
    grid-row: 2/3;
    grid-column: 2/3;
}

#tur{
    grid-row: 1/2;
    grid-column: 2/3;
}

#retur{
    grid-row: 1/2;
    grid-column: 3/4;
}

#combustibil{
    grid-row: 2/3;
    grid-column: 3/4;
}

input, select{
    border: 1px solid black;
    border-radius: 5px;
}

#tur, #retur, #combustibil{
    position: relative;
}

.derulare-sageti{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}

#id-fisa{
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
}

.select-input-line select{
    width: 100%;
}

.select-input-line input{
    width: 100%;
}

.select-input-line{
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: repeat(2, auto);
}

.select-input-line div{
    grid-row: 1/2;
}

.select-input-line input{
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-input-line select{
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}