#sign-up{
    width: 300px;
    box-shadow: 0px 0px 3px gray;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.termeni-conditii{
    display: flex;
}

.default-label{
    margin: 10px auto;
}

h2{
    text-align: center;
    width: 322px;
}

button{
    margin-top: 10px;
}